.input
    height: 30px
    line-height: @height - 2px
    border: 1px solid #000
    padding: 0 10px
    width: 100%
    display: block
    margin-bottom: 10%
    border-radius: 5px

    &__textarea
        height: 100px
