.btn
    height: 30px
    line-height: @height
    border: 0
    font-size: 12px
    padding: 0 20px
    border-radius: 15px
    cursor: pointer
    box-sizing: border-box
    outline none;

    &:focus
        box-shadow: 0 0 3px #003d62

    &_light
        background-color: transparent
        line-height: @height - 2px
        border: 1px solid #000

    &_dark
        background-color: #818181
        color: #fff

    &_small
        height: 20px;
        line-height: @height - 2px
        font-size: 10px;
        border-radius 10px;

