.user-list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-direction: row
    flex-wrap: wrap

    &__item
        padding: 0 20px 20px
        width: 130px
        text-align: center
        font-size: 11px

    &__img
        margin-bottom: 5px

    &__link
        text-decoration: none
        color: #333
